################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cracow University of Technology/Advanced Databases Techniques
